
.banultah4 {background:url(http://ads2.kompas.com/kompascom4th/widget/images/banultah4.jpg);background-repeat:no-repeat;width:517px;height:62px;padding-top:23px;}
.poppoin4 {width:120px;height:30px;display:block;background:none;}
.temukan4 {font:normal 11px Arial, Helvetica, sans-serif;color:#666666;text-decoration:none;}
.temukan4 a {text-decoration:underline;color:#666666;}